logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.output
.data
.nuxt
.nitro
.cache
dist
.DS_Store
.fleet

node_modules
*.local
.env
images
/client/tailwind.config.js

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
